---
---
@import "minima";


.social-media-list {
  display: flex !important;
  gap: 15px; 
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-media-list .username {
  display: none !important;
}
